@{
    ViewData["Title"] = "Mi Experiencia";
}
<div class="container">
<h1>@ViewData["Title"]</h1>

<p class="text-break">Esta terea fue todo un reto para mí ya que no tengo pc y solo podía programar de noche usando la pc de mi hermano cuando él dormía.</p>
</div>